// Rename this file to env.json to have working config
{
  "development": {
    "neo4j": {
      "server": "URL_TO_DEVELOPMENT_DB",
      "user": "User",
      "password": "Pass"

    },
    "importData": false
  },
  "testing": {
    "neo4j": {
      "server": "URL_TO_DEVELOPMENT_DB",
      "user": "User",
      "password": "Pass"
    },
    "importData": false
  }
}