// Rename this file to env.json to have working config
{
  "development": {
    "neo4j": {
      "server": "127.0.0.1",
      "user": "neo4j",
      "password": "fintrendr"

    },
    "importData": false
  },
  "testing": {
    "neo4j": {
      "server": "URL_TO_TESTING_DB",
      "user": "user",
      "password": "pass"
    },
    "importData": false
  },
  "production": {
    "neo4j": {
      "server": "URL_TO_PRODUCTION_DB",
      "user": "user",
      "password": "pass"
    },
    "importData": false
  }
}
