* {
margin: 0;
  font-family: 'Homenaje', sans-serif;
  /*
  font-family: 'Squada One', cursive;
  font-family: 'Teko', sans-serif;
  font-family: 'Jockey One', sans-serif;
  */
}

html, body {
height: 100%;
}

body{
  background-color: #ECF0F1 !important;
  color: white;
}

.container {
  padding-top: 1%;
}

.about-landing {
  color: black;
  padding-top: 10%;
  text-align: center;
}

.about-landing h1 {
  font-size: 7em;
}

.about-landing p {
  margin: auto;
  max-width: 30%;
}

.list-group {
  border-radius: 0px;
}
.list-group-item {
  border-radius: 0px;
}

.spacer {
  /*padding: 15px;
  margin-top: 15px;*/
  margin-top: 20px;
}

.noRad {
  border-radius: 0px !important;
}

.graph {
  /*background-color: grey;*/
}

.news {
  /*top: 75px;
  right: 0;
  height: 100%;
  max-width: 360px;
  background: #f00;*/
  position: fixed;
  overflow: auto;
  background-color: white;
  max-height: 100%;
  color: black;
}

.news-wrapper {
  padding-top: 7px;
}

.tweets {
  background-color: #2b7bb9;
  color: white;
}

.list {
  margin-top: 40%;
  background-color: #2cba73;
  color: white;
}

.teamList {
  list-style-type: none;
}
.topMargin {
  margin-top: 100px;
}

.bottomGreen {
  border-bottom: solid #E74C3C 1px;
  height: 85px;
}

.mainTitle {
  color: white;
  margin-left: 30px;
}

.subTitle {
  margin-top: -10px;
  margin-left: 30px;
  color: lightgrey;
}

.search {
  margin-top: -40px;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.push{
/*height: 4em;*/
}
.footer {
/*height: 4em;*/
  width: 100%;
  background-color: #333;
  color: lightgrey;
  padding-top: 25px;
  margin-top: 150px;
  border-top: solid red 1px;
}

#inputBox {
  color: black;
}

#newKeywordBox {
  color: black;
}

.newsExample-enter {
  opacity: 0.01;
}

.newsExample-enter.newsExample-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.newsExample-leave {
  opacity: 1;
}

.newsExample-leave.newsExample-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.newsExample-appear {
  opacity: 0.01;

}

.newsExample-appear.newsExample-appear-active {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.bg-inverse {
  background-color: #2C3E50 !important;
}

/*
.centeredV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
}

.centeredElement {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
