body {
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
}

.main-landing {
  position: relative;
  padding-top: 0 !important;
}

.title-link {
  color: white;
  text-decoration: none;
}

.title-link:active {
  color: white;
  text-decoration: none;
}

.title-link:visited {
  color: white;
  text-decoration: none;
}

.title-link:hover {
  color: white;
  text-decoration: none;
}

.mainTitle {
  padding-top: 6%;
}

.blackTitle {
  position: fixed;
  color: #2C3E50;
  top: 1.5em;
  left: 1.5em;
}

.blackTitle:hover {
  color: #2C3E50;
}

.bg-inverse {
  background-color: #2C3E50 !important;
}

.spacer {
  margin-top: 20px;
}

.search {
  margin-top: -40px;
}

.fancy-box {
  margin: 50px auto;
  width: 700px;
  height: 75px;
  text-align: left !important;
}

.fancy-search {
  width: 700px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.fancy-input {
  width: 700px;
  height: 75px;
  background: #2C3E50;
  border: none;
  font-size: 1.5em;
  float: left;
  color: #FFF;
  padding-left: 17px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.fancy-search input.fancy-search::-webkit-input-placeholder {
   color: #65737e;
}

.fancy-search input.fancy-search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.fancy-search input.fancy-search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.fancy-search input.fancy-search:-ms-input-placeholder {
   color: #65737e;
}

.fancy-search .icon {
  position: absolute;
  top: 50%;
  margin-left: 650px;
  margin-top: 20px;
  z-index: 1;
  color: lightgrey;
}

.fancy-button {
  decoration: none;
}

.about-landing {
  color: black;
  padding-top: 14%;
  text-align: center;
}

.about-landing h1 {
  font-size: 5em;
}

.about-landing p {
  margin: auto;
  max-width: 30%;
}

.left-banner {
  /*text-align: right;*/
}

.right-banner {
  /*text-align: left;*/
}

.iconPadding {
  margin: 5px;
}

.table tr {
  cursor:pointer;
}

.table tr th {
  font-size: small;
  text-align: center;
}

.table tr td {
  text-align: center;
  font-size: small;
  padding: .5em !important;
}

.news {
  position: fixed;
  overflow: auto;
  background-color: white;
  max-height: 100%;
  color: black;
}

.info-icon {
  position: fixed;
  right: 1.5em;
  top: 1.5em;
}

.news-list-item {
  list-style-type: none;
}
/*
.news-list-item:hover {
  background-color: lightgrey;
}
*/
.newsExample-enter {
  opacity: 0.01;
}

.newsExample-enter.newsExample-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.newsExample-leave {
  opacity: 1;
}

.newsExample-leave.newsExample-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.newsExample-appear {
  opacity: 0.01;
}

.newsExample-appear.newsExample-appear-active {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.drop-shadow {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-item-text {
  font-size: small !important;
}

.news-item-date {
  font-size: xx-small !important;
}

.subTitle {
  font-size :15px;
}

.search{
  margin-top: 1.4em;
  width:300px;
  float: right;
  margin-right:3em;
}

.rd3-treemap-cell {
  pointer-events: all;
  cursor: pointer;
  stroke: #EEEEEE;
}

.nav-item{
  width: 14vw;
}

.nav-pills .nav-link:hover {
  background-color : lightgrey;
}

.heatmap {
  height: 100%;
}

.panel {
  height:500px;
}

.keywordList{
 line-height: 1px;
}
